@import "home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.event-card-booking {
  flex: 0 0 calc(33.33% - 20px); /* Adjust card width */
  margin-bottom: 20px;
  border: 2px solid #00ff81;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 255, 129, 0.5);
  background-color: #1e1e1e;
  height: 400px; /* Set a fixed height for the cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.castle-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  color: #00ff81;
  background-color: #1e1e1e;
  flex: 1; /* Allow card-body to grow and fill space */
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 3px;
}

.event-link {
  text-decoration: none;
  color: #00ff81;
}

.btn-primary {
  background-color: #00ff81;
  border-color: #00ff81;
}

.btn-primary:hover {
  background-color: #00cc66;
  border-color: #00cc66;
}

.your-bookings {
  color: #00ff81;
}

#subtitle {
  color: #00ff81;
  margin-top: 20px;
}

.separator {
  border-top: 2px solid #00ff81;
  margin: 20px 0;
}
