/* Import page-specific CSS files here. */
@import "home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-body{
  padding: 0;
  padding-top: 10px;
}

p {
  color: white;
}

h2 {
  color: white;
  font-size: 100px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.booking-card {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 2px solid #00ff81;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 255, 129, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.castle-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-card {
  padding: 30px;
  color: #00ff81;
  background-color: #1e1e1e;
  border: 2px solid #00ff81;
  box-shadow: 0px 4px 8px rgba(0, 255, 129, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  font-size: 20px;
}

.event-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 255, 129, 0.6);
  transform: translateY(-5px);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.event-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.event-info {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.event-link {
  text-decoration: none;
  color: #00ff81;
  font-weight: bold;
}

.event-link:hover {
  text-decoration: underline;
}

h5{
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 10px;
  display: flex;
  align-items: center;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 70%;
}

.video-container .search-container{
  top: 35%;
  left: 18%;
  right: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  width: 1500px;
  margin: 0 auto;
  justify-content: center;
  z-index: 999;

}

#upcoming{
  flex-direction: column;
}

#home-page-headings{
  align-items: center;
}

.large-search-input {
  width: 1120px;
  height: 44px;
  font-size: 16px; /* Optional: to make the text size larger */

}

.tag-button-white {
  background-color: white;
  color: darkgreen;
  border-color: white;
  margin: 10px;
}

.tag-button-white:hover {
  background-color: darkgreen;
  border: #00ff41;
}

.content-container {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: top 0.5s ease;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group {
  margin: 10px 0;
}

.btn-primary {
  background-color: #00ff81;
  border: none;
  color: #1e1e1e;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #00cc66;
}

h1 {
  color: white;
}

.closing-arrow{
  cursor: pointer;
}

#booking-page{
  display: block;
}

.your-bookings{
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

.subtitle{
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-style: lighter;
  color: white;
}

.ava-tar{

}

// map marker styling

.custom-marker {

  background-color: #00FF00; /* Green color */
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the marker a circle */

}

// events show page

.details-and-goers-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items at the start of the flex container's cross axis */
  gap: 20px; /* Space between the details and event-goers */
  margin-top: 24px;
}

.details {
  flex: 1; /* Allows the details section to take available space */
}

.event-goers {
  flex: 0 0 300px; /* Fixed width for the event-goers section */
}

.datetime-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px; /* Space between the items */
  flex-wrap: wrap;
}

.datetime-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.booking-name {
  margin-top: 32px;
}
