<div class="footer">
  <!-- Links Column for Contact Us and Help -->
  <div class="footer-section">
    <p class="text">Contact us</p>
    <p class="text">Help</p>
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
    </div>
    <p class="text">©2024 Codeventures, Inc.</p>
  </div>

  <!-- Address Column on the Far Right -->
  <div class="info">
    <p class="text">
      Codeventures<br>
      22 Roboto Lane<br>
      Techtown, CV1 2FT<br>
      United Kingdom<br>
      Tel: +44 131 555 1234<br>
      Email: contact@codeventures.co.uk
    </p>
  </div>
</div>
