<div class="footer">

      <!-- Links Column for Contact Us and Help -->
      <div>
        <p class="text">Contact us</p>
        <p class="text">Help</p>
        <br>
        <br>
        <br>
        <p class ="text">©2024 CastleBnB, Inc. </p>
      </div>

      <!-- Address Column on the Far Right -->
      <div class="info">
        <p class="text">
          Codeventures<br>
          22 Roboto Lane<br>
          Techtown, CV1 2FT<br>
          United Kingdom<br>
          Tel: +44 131 555 1234<br>
          Email: contact@codeventures.co.uk
        </p>
      </div>

</div>
