.chatroom {
  background: black;
  margin-top: 9px;
  padding: 0 75px 0 75px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  // box-shadow: 0 0 8px #0FFF50;
  // border: 2px solid #00ff81; /* Border color same as button */
}

  .chatroom h1 {
    color: white;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    border-left: 1px solid white;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

/* Styles for the chat form */
.chat-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.flex-grow-1 {
  flex: 1;
}

.message-input {
  width: 100%;
  border: none;
  padding: 10px;
  margin-right: 10px;
  background-color: white; /* Grey background color */
  color: white; /* Text color */
  outline: none;
}

.send-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.send-icon {
  width: 24px;
  height: 24px;
}

.message-bar {
  color: white;
  background-color: black;
}

.container-chatroom {
  background-color: black;
}
