// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "buttons";
@import "cards";
@import "footer";
@import "button";
@import "chatroom";
@import "forms";
@import "message";
@import "profile";
@import "bookings";
@import "carousel";
@import "calendar";



.banner {
  margin-left: 30px;
  margin-right: 30px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100% - 60px);
  height: 500px;
  padding: 0;
  margin-bottom: 50px;
  overscroll-behavior: hidden;
  justify-content: center;
}

.banner .search-title {
  color: white;
}

// Events show page
.details-container {
  padding-left: 16px;
}

.details p {
  color: rgb(201, 201, 201);
  font-size: 20px;
}

.event-heading {
  padding-top: 24px;
}

// bookings index page
.bookings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.form-input {
  color: rgb(165, 165, 165);
}

.f-input {
  color: rgb(165, 165, 165);
}

.your-bookings {
  color: rgb(165, 165, 165);
  // padding-top: 32px;
  font-size: 40px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

#subtitle{
  color: rgb(165, 165, 165);
}

p {
  color: white;
}

.search-title {
  color: white;
  padding-right: 16px;
}

hr {
  color: rgb(165, 165, 165);
}

#event-heading{
  color: white;
  font-size: 80px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

#event-goers{
  color: white;
  font-size: 30px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}

#home-page-headings{
  color: white;
  font-size: 80px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  font-weight: medium 500;
  font-style: normal;
}
