.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  z-index: 1000;
  transition: background .3s ease;
  &.solid {
    background: black;
  }
}

.nav-link{
  color: white;
}

.nav-link:hover {
  color: #ccc;
  text-decoration: underline;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 300px;
  height: 100%;
  margin-left: 20px;
}

.sidebar {
  display: flex;
  position: fixed;
  top: 35px;
  right: 0px;
  width: 250px;
  height: 100vh;
  background-color: darkgreen;
  transition: left 0.3s;
  z-index: 999;
  padding-top: 20px;
}

.sidebar.show {
  right: 0;
}

#sidebar-bits{
  flex-direction: column;
  margin-left: 40px;
}

#burger-menu {
  position: fixed;
  top: 30px;
  right: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;

}
