.img-fluid rounded-circle {
  width: 95%; /* Reduce width by 5% */
  height: auto;
}

.display-4{
  color: rgb(255,255,255);
}

#profile-box{
  padding: 10px;
}

#profile-headings{
  color: rgb(255,255,255);
}

.col{
  padding: 10px;

}
